/*------------------------------------*\
    #FONTS
\*------------------------------------*/

/* WCAG 2.1
Success Criterion 1.4.12 Text Spacing§
Understanding Text Spacing |
How to Meet Text Spacing(Level AA)
In content implemented using markup languages that support the following text style properties, no loss of content or functionality occurs by setting all of the following and by changing no other style property:
Line height (line spacing) to at least 1.5 times the font size;
Spacing following paragraphs to at least 2 times the font size;
Letter spacing (tracking) to at least 0.12 times the font size;
Word spacing to at least 0.16 times the font size.
TODO:Ensure we are meeting these
*/

$font: "Open Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
$font-nidanotes-brand: "Times New Roman", Times, serif;

$font-scale: 0.2;

$base-font-size: 115%;
$base-line-height: 1.5;

$font-size-xx-small: 0.65rem;
$font-size-x-small: 0.75rem;
$font-size-small: 0.875rem;
$font-size-normal: 1.0rem;
$font-size-med: $font-size-normal + $font-scale;
$font-size-med-2: $font-size-med + $font-scale;
$font-size-large: $font-size-med-2 + $font-scale;
$font-size-x-large: $font-size-large + ($font-scale);
$font-size-xx-large: $font-size-x-large + ($font-scale*2);
