/*------------------------------------*\
    #tags
\*------------------------------------*/

.tags {
 

  &:hover {
   
  }

  /*&.tags--news {
    background: $color-alt-1;
  }
  &.tags--event {
    background: $color-alt-1;
  }
  &.tags--research {
    background: $color-alt-2;
  }
  &.tags--science {
    background: $color-alt-3;
  }
  &.tags--announcement {
    background: $color-alt-4;
  }
  &.tags--stats {
    background: $color-alt-5;
  }
  &.tags--pub {
    background: $color-alt-6;
  }*/
  
}



    


