/* Helpers */

// Lists.
// We might not want to remove all bullets from lists, so let's make a class.
.no-bullets {
  list-style-type: none;
}

// Padding.
.no-padding {
  padding: 0;
}

.pt-1-2 {
  padding-top: 1.2rem;
}

// Displays.
.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

// Clearfix.
.cf {
  *zoom: 1;
}

// Clearfix pseudo-elements.
.cf:before, 
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.clear-both {
  clear: both;
}

// Completely remove from the flow and screen readers.
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

// Completely remove from the flow but leave available to screen readers.
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

// Float Element Left or Right.
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Show valid text color.
.valid {
  color: $color-utility-positive;
}

// Show error text color.
.error {
  color: $color-utility-negative;
}

// Show warning text color.
.warning {
  color: $color-utility-caution;
}

// Show informational text color.
.information {
  color: $color-utility-neutral;
}

// Metadata for text/headings.
.meta-data {
	display: flex;
	.date {
		margin-right: $space-half;
	}
	.byline {
		font-style: italic;
	}
}

// Subheading.
.subheading {
	line-height: 1.2;
	font-size: $font-size-med;
	font-family: $font-secondary;
	font-weight: normal;
	margin-bottom: $space;
}

// Text links decoration or not.
.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.only-hover-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Text align right.
.align-right {
  text-align: right;
}

// Text align center.
.align-center {
  text-align: center;
}

// Text Align left.
.align-left {
  text-align: left;
}

// Font modifiers.
.font-primary {
  font-family: $font;
}

.font-secondary {
  font-family: $font-secondary;
}

.text-small {
  font-size: $font-size-small;
  line-height: 1.8;
}

.text-x-small {
  font-size: $font-size-x-small;
  line-height: 1.8;
}

.text-large {
  font-size: $font-size-large;
  line-height: 1.4;
}

.text-x-large {
  font-size: $font-size-x-large;
  line-height: 1.8;
}

.text-bold {
  font-weight: 700;
}

.text-reverse, 
.text-reverse {
  color: $color-white !important;
}

.text-accent {
  color: $color-accent !important;
}

.hide-mobile {
  display: none;
  @include respond-to('l') {
    display: block;
  }
}

.show-mobile {
  display: block;
  @include respond-to('l') {
    display: none;
  }
}

// SVGs from FA
.svg-inline {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

// Highlights, or call-out boxes.
.highlight {
  @extend %highlight;
  /* Alternate variant of callout. */
  &.highlight--alt {
    border-color: $color-grey-medium;
    background: $color-grey-light;
  }

  /* Bold variant of callout */
  &.highlight--bold {
    border: none;
    background: $color-brand-dark;
    text-align: center;

    * {
      color: $color-text-light;
    }

    h2, i, h2 a {
      color: $color-accent;
    }
  }
}
